<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Text Utils</title>
</head>
<body>
<h1>Welcome to text analyser. Enter your text below</h1>
<form action="/analyze" method="get">
    <textarea name="text" id="" cols="50" rows="5" style="margin: 0px; width: 1355px; height: 154px;"></textarea>
    <input type="checkbox" name="removepunc"> Remove Punctuations<br>
    <input type="checkbox" name="fullcaps">UPPERCASE<br>
    <input type="checkbox" name="newlineremover">New Line Remover<br>
    <input type="checkbox" name="extraspaceremover">Extra Spaces Remover<br>
    <input type="checkbox" name="charcount">Count the Characters<br>
    <button type = submit>Analyse Text</button>
</form>
</body>
</html>